<%- include("partials/header") %> 


<div class=container-fluid>
    <div class="post-box">
      <h2> <%=article.title %>  </h2>
      <p> <%=article.content %> </p>
      </div>


</div>



<%- include("partials/footer") %> 
